.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 5px;
  column-gap: 4rem;
  justify-content: flex-start;
  margin-left: 2rem;
}

.author-text {
  display: inline-flex;
  background: var(--complimentary-bg-color);
}

.author-text-container {
  text-align: end;
}
